//file: L5App/resources/assets/less/app.less
 
@import "font-awesome";
@import "bootstrap";
@import "bootstrap-select";
@import (inline) "jquery.nestable.css";

//variable overrides
@import "var-over";



body{
	background-color:#F1F1EE;
}



.dd-handle{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	width: 12px;
	padding: 0;
	border-radius: 0;
	border: 0;
	background-color: rgb(113, 202, 208);
	color: rgba(255,255,255,0.6);
	text-align: center;
	&:hover{
		background-color: rgb(100, 190, 198);
		color: rgba(255,255,255,0.6);
	}
	cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    height: 100%;
}
.dd-titlebar{
	  min-height: 35px;
	  line-height: 35px;
	  background-color: white;
	  margin: 0 0 5px 0;
	  border-bottom: 1px solid #e9e9e9;
	  padding-left: 20px;
	  position: relative;
	  height: 35px;
	  vertical-align: top;
	.dd-id {
	    width: 5%;
	    display: inline-block;
	    vertical-align: top;
	}

	.dd-title {
	    width: 60%;
	    overflow: hidden;
	    display: inline-block;
	    .complete &{
			text-decoration: line-through;
			color: lightgray;
		}
	}
}


button.dd-collapse, button.dd-expand {
  margin-left: 15px;
  color: rgb(212, 212, 212);
  z-index: 15;
  height: 35px;
  margin: 0px 0px 0px 13px;
  line-height: 35px;
  vertical-align: top;
  &:active, &:focus{
  	outline: none;
  }
  display: block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  font-style: 13px;
}


.dd-item > button.dd-expand:before {
  content: '\f067';

}
.dd-item > button.dd-collapse:before {
  content: '\f068';
}

button.dd-expand{
  display: none;
}
.dd-collapsed button.dd-expand {
  display: block;
}


.dd-toolbar {
  display: block;
  position: absolute;
  right: 0;
  text-align: right;
  z-index: 10;
  line-height: 35px;
  color: lightgray;
  cursor: pointer;
  top: 0px;
  i{
  	font-size: 13px;
  	padding-right: 10px;
  	cursor: pointer;
  	&:hover{
  		color: lightblue;
  	}
  }
}
